{% extends "base.html" %}
{% load staticfiles %}

{% block topnav %}
    <div id="topnav">
        <ul>
            <li class="topnav-option">
                <a id="master-schedule" role="button" href="/">
                    Master Schedule
                </a>
            </li>
            <li class="dropdown topnav-option">
                <a id="league-dropdown" data-toggle="dropdown" href="#" role="button">
                    Leagues
                    <span class="caret"></span>
                </a>
                <ul class="dropdown-menu" role="menu" aria-labelledby="league-dropdown">
                    {% for league in leagues %}
                        <li role="presentation">
                            <a role="menuitem" href="/league/{{ league.id }}/">{{ league }}</a>
                        </li>
                    {% endfor %}
                </ul>
            </li>
        </ul>
    </div>

{% endblock %}

{% block content %}
<div class="container">
    <iframe src="https://www.google.com/calendar/embed?showTitle=0&amp;mode=DAY&amp;height=600&amp;wkst=1&amp;bgcolor=%23ffffff&amp;src=1vgdopfgecllu0qtclsb8va898%40group.calendar.google.com&amp;color=%2328754E&amp;ctz=America%2FChicago&amp;dates={% now "Ymd" %}%2F{% now "Ymd" %}" style=" border-width:0 " width="500" height="600" frameborder="0" scrolling="no">
    </iframe>
</div>
{% endblock %}
