{% extends "home.html" %}
{% load staticfiles %}

{% block content %}
<div id="league-list" class=".container">
    <table class="table table-bordered table-striped">
        <thead>
            <tr>
                <th>Number</th>
                <th>Team Name</th>
                <th>Color</th>
            </tr>
        </thead>
        <tbody>
        {% for team in league.teams.all %}
            <tr>
                <td>{{ team.number }}</td>
                <td><a role="menuitem" href="/team/{{ team.id }}/">{{ team.name }}</a></td>
                <td>{{ team.color }}</td>

            </tr>
        {% endfor %}

        </tbody>
    </table>
</div>
{% endblock %}
