{% extends "home.html" %}
{% load staticfiles %}

{% block title %}{{ team.number }} - {{ team.name }}{% endblock %}

{% block content %}
    <div class="container">
        <br>
        <table class="table table-bordered table-striped">
            <tr>
                <td colspan="2"><h3>{{ team }}</h3></td>
            </tr>
            <tr>
                <td><a href="{% url 'ics' team.name %}">Download Calendar</a></td>
                <td>Today is {% now "l, F jS, Y g:i a"%}</td>
            </tr>
        </table>

        <table class="table table-bordered table-striped">
        <thead>
            <tr>
                <th>Field</th>
                <th>Home Team</th>
                <th>Away Team</th>
                <th>Game Date</th>
                <th>Game Time</th>
            </tr>
        </thead>
        <tbody>
            {% for game in games %}
                <tr>
                    <td>{{ game.field }}</td>
                    <td>
                        <a href="/team/{{ game.home_team.id }}"
                                title="{{ game.home_team }}">
                            {{ game.home_team.name }}
                        </a>
                    </td>
                    <td>
                        <a href="/team/{{ game.away_team.id }}"
                                title="{{ game.away_team }}">
                            {{ game.away_team.name }}
                        </a>
                    </td>
                    <td>{{ game.time|date:"M d (l)" }}</td>
                    <td>{{ game.time|time:"g:i a" }}</td>
                </tr>
            {% endfor %}
        </tbody>
        </table>
    </div>
{% endblock %}
