{% extends "home.html" %}
{% load staticfiles %}

{% block content %}
    <br><br>
    <div class="game-list">
        <a href="{% url 'ics' team.name %}">{{ team }}</a>

        <table>
        <thead>
            <tr>
                <th>Field</th>
                <th>Home Team</th>
                <th>Away Team</th>
                <th>Game Time</th>
            </tr>
        </thead>
        <tbody>
            {% for game in games %}
                <tr>
                    <td>{{ game.field }}</td>
                    <td>
                        <a href="/team/{{ game.home_team.id }}"
                                title="{{ game.home_team }}">
                            {{ game.home_team.name }}
                        </a>
                    </td>
                    <td>
                        <a href="/team/{{ game.away_team.id }}"
                                title="{{ game.away_team }}">
                            {{ game.away_team.name }}
                        </a>
                    </td>
                    <td>{{ game.time }}</td>
                </tr>
            {% endfor %}
        </tbody>
        </table>
    </div>
{% endblock %}
